fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.35
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.32.3
apscheduler==3.10.4
qrcode==8.0
pillow==10.4.0
jinja2==3.1.4
pydantic-settings==2.14.2
python-bitcoinrpc==1.0
pymysql==1.1.1
cryptography==42.0.5